<div class="content" [ngStyle]="{'background-color': currentColor}">
  <header>
      <h1>
        <img appDoggo src="assets/doge.png">
        <img appDoggo src="assets/doge-glasses.png">
        <img appDoggo src="assets/doge.png">
        <img appDoggo src="assets/doge-glasses.png">
        Amazeing Doggos!! Wowe!
        <img appDoggo src="assets/doge-glasses.png">
        <img appDoggo src="assets/doge.png">
        <img appDoggo src="assets/doge-glasses.png">
        <img appDoggo src="assets/doge.png">
      </h1>
    </header>
    <router-outlet></router-outlet>
</div>

